In [1]:
import pandas as pd, numpy as np
import re
import time

### 1. 리뷰 79만개 파일 불러오기 - reviews

In [15]:
reviews = pd.read_csv('./train/data/post_crawling_통합_정제.csv', encoding='utf-8')
reviews.drop('Unnamed: 0', axis=1, inplace=True)
reviews.drop('spam', axis=1, inplace=True)
reviews.head(3)

,storeid,Link,Content
0,13992,https://blog.naver.com/sjswmfwow/221188193849,#광주떡갈비맛집 #광주송정역맛집 #빛고을떡갈비광주떡갈비 맛집빛고을떡갈비광주송정리 광...
1,13992,https://blog.naver.com/white6346/221384202338,오리빠와 광주에서 부산 오는 날 먹고 온 광주 빛고을떡갈비급여행답게 검색 끝에 현지...
2,13995,https://blog.naver.com/stylus33/220255268021,주에서 제법 많이 보이는 << 착한 소장수 >>예전 개업하고 얼마뒤에 한번 가보고...

In [9]:
reviews.shape

(790465, 4)

In [12]:
reviews.storeid = reviews.storeid.astype(int)

In [13]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790465 entries, 0 to 790464
Data columns (total 4 columns):
storeid    790465 non-null int64
Link       790465 non-null object
Content    790465 non-null object
spam       790465 non-null int64
dtypes: int64(2), object(2)
memory usage: 24.1+ MB

In [14]:
len(reviews.index.unique())

790465

In [16]:
reviews['reviewid'] = reviews.index

In [17]:
reviews.head(3)

,storeid,Link,Content,reviewid
0,13992,https://blog.naver.com/sjswmfwow/221188193849,#광주떡갈비맛집 #광주송정역맛집 #빛고을떡갈비광주떡갈비 맛집빛고을떡갈비광주송정리 광...,0
1,13992,https://blog.naver.com/white6346/221384202338,오리빠와 광주에서 부산 오는 날 먹고 온 광주 빛고을떡갈비급여행답게 검색 끝에 현지...,1
2,13995,https://blog.naver.com/stylus33/220255268021,주에서 제법 많이 보이는 << 착한 소장수 >>예전 개업하고 얼마뒤에 한번 가보고...,2

In [19]:
reviews.set_index('reviewid', drop=True, inplace=True)
reviews.head(3)

,storeid,Link,Content
reviewid,,,
0,13992,https://blog.naver.com/sjswmfwow/221188193849,#광주떡갈비맛집 #광주송정역맛집 #빛고을떡갈비광주떡갈비 맛집빛고을떡갈비광주송정리 광...
1,13992,https://blog.naver.com/white6346/221384202338,오리빠와 광주에서 부산 오는 날 먹고 온 광주 빛고을떡갈비급여행답게 검색 끝에 현지...
2,13995,https://blog.naver.com/stylus33/220255268021,주에서 제법 많이 보이는 << 착한 소장수 >>예전 개업하고 얼마뒤에 한번 가보고...

In [63]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 790465 entries, 0 to 790464
Data columns (total 3 columns):
storeid    790465 non-null int64
Link       790465 non-null object
Content    790465 non-null object
dtypes: int64(1), object(2)
memory usage: 24.1+ MB

In [64]:
reviews.to_csv('reviews.csv', encoding='utf-8')

In [26]:
storeid_review_count = dict(reviews.groupby('storeid')['Link'].count())
storeid_review_count

{9227: 10,
 9228: 14,
 9236: 5,
 9237: 8,
 9239: 4,
 9241: 9,
 9244: 46,
 9246: 2,
 9249: 5,
 9254: 29,
 9261: 1,
 9262: 2,
 9263: 18,
 9266: 45,
 9274: 50,
 9278: 14,
 9279: 1,
 9280: 12,
 9284: 3,
 9285: 7,
 9286: 1,
 9289: 19,
 9292: 1,
 9293: 97,
 9295: 3,
 9297: 7,
 9299: 2,
 9300: 31,
 9301: 6,
 9303: 15,
 9309: 1,
 9311: 1,
 9316: 3,
 9318: 17,
 9320: 164,
 9321: 8,
 9324: 10,
 9329: 3,
 9335: 5,
 9339: 21,
 9341: 68,
 9343: 2,
 9346: 1,
 9348: 2,
 9349: 33,
 9351: 2,
 9355: 16,
 9361: 1,
 9362: 106,
 9363: 1,
 9365: 16,
 9366: 8,
 9367: 146,
 9372: 4,
 9375: 24,
 9376: 14,
 9381: 1,
 9382: 1,
 9383: 1,
 9385: 19,
 9386: 133,
 9387: 64,
 9389: 10,
 9390: 56,
 9392: 2,
 9393: 23,
 9396: 11,
 9397: 2,
 9398: 2,
 9399: 37,
 9402: 58,
 9403: 22,
 9404: 62,
 9405: 165,
 9406: 4,
 9407: 23,
 9417: 2,
 9420: 61,
 9431: 34,
 9436: 4,
 9442: 3,
 9445: 58,
 9448: 133,
 9450: 101,
 9451: 4,
 9452: 1,
 9456: 1,
 9459: 1,
 9463: 3,
 9465: 1,
 9467: 3,
 9469: 1,
 9470: 93,
 9473: 102,
 9476: 3,
 9483: 39,
 9485: 5,
 9486: 3,
 9491: 25,
 9493: 3,
 9500: 82,
 9504: 2,
 9506: 55,
 9510: 94,
 9515: 9,
 9524: 9,
 9525: 6,
 9527: 148,
 9529: 9,
 9537: 14,
 9538: 26,
 9544: 19,
 9549: 109,
 9552: 2,
 9553: 2,
 9554: 2,
 9555: 44,
 9556: 98,
 9558: 6,
 9562: 275,
 9564: 59,
 9569: 4,
 9571: 27,
 9573: 1,
 9575: 1,
 9578: 274,
 9582: 422,
 9585: 4,
 9587: 7,
 9590: 73,
 9591: 3,
 9592: 7,
 9597: 2,
 9599: 3,
 9601: 7,
 9604: 72,
 9606: 10,
 9616: 6,
 9618: 8,
 9619: 3,
 9624: 5,
 9625: 40,
 9626: 11,
 9627: 17,
 9630: 4,
 9631: 1,
 9632: 14,
 9633: 5,
 9635: 8,
 9637: 1,
 9638: 33,
 9640: 3,
 9643: 32,
 9644: 5,
 9648: 22,
 9649: 9,
 9660: 1,
 9663: 7,
 9669: 110,
 9675: 14,
 9676: 3,
 9677: 6,
 9684: 7,
 9688: 8,
 9697: 3,
 9698: 71,
 9700: 154,
 9701: 2,
 9702: 5,
 9703: 3,
 9709: 4,
 9711: 67,
 9713: 15,
 9715: 82,
 9717: 8,
 9720: 2,
 9721: 1,
 9722: 15,
 9729: 175,
 9731: 10,
 9737: 2,
 9749: 4,
 9751: 7,
 9755: 5,
 9764: 2,
 9765: 513,
 9766: 9,
 9768: 5,
 9771: 4,
 9780: 39,
 9784: 133,
 9787: 8,
 9788: 18,
 9792: 38,
 9793: 106,
 9794: 3,
 9797: 10,
 9800: 10,
 9803: 16,
 9804: 9,
 9807: 1,
 9816: 2,
 9826: 2,
 9827: 2,
 9829: 224,
 9835: 2,
 9837: 59,
 9838: 91,
 9840: 65,
 9841: 11,
 9844: 1,
 9846: 128,
 9848: 10,
 9852: 36,
 9856: 11,
 9857: 22,
 9858: 15,
 9860: 5,
 9864: 9,
 9865: 5,
 9866: 2,
 9867: 17,
 9872: 1,
 9875: 1,
 9879: 10,
 9888: 20,
 9889: 4,
 9892: 216,
 9893: 19,
 9894: 6,
 9897: 4,
 9899: 4,
 9900: 34,
 9905: 13,
 9906: 74,
 9907: 1,
 9908: 146,
 9910: 4,
 9916: 18,
 9920: 12,
 9921: 2,
 9922: 2,
 9924: 2,
 9927: 101,
 9929: 1,
 9934: 25,
 9941: 9,
 9943: 1,
 9946: 5,
 9956: 2,
 9960: 10,
 9961: 6,
 9963: 3,
 9972: 4,
 9975: 63,
 9979: 5,
 9984: 8,
 9985: 3,
 9986: 3,
 9989: 1,
 9991: 14,
 9992: 6,
 9993: 2,
 9994: 4,
 9997: 4,
 9999: 16,
 10003: 33,
 10007: 15,
 10011: 14,
 10012: 16,
 10014: 16,
 10016: 19,
 10017: 1,
 10019: 5,
 10028: 9,
 10032: 4,
 10033: 42,
 10038: 5,
 10039: 15,
 10040: 39,
 10042: 5,
 10043: 4,
 10044: 4,
 10045: 2,
 10064: 1,
 10065: 1,
 10073: 1,
 10080: 5,
 10081: 11,
 10088: 28,
 10089: 3,
 10093: 118,
 10095: 7,
 10100: 2,
 10102: 1,
 10104: 14,
 10106: 1,
 10114: 1,
 10120: 12,
 10122: 3,
 10125: 7,
 10127: 1,
 10129: 5,
 10130: 4,
 10133: 1,
 10140: 66,
 10147: 129,
 10159: 1,
 10160: 12,
 10163: 1,
 10164: 1,
 10167: 2,
 10172: 3,
 10175: 234,
 10176: 1,
 10182: 3,
 10193: 1,
 10196: 1,
 10207: 5,
 10209: 1,
 10210: 1,
 10211: 3,
 10213: 1,
 10214: 1,
 10215: 1,
 10220: 1,
 10221: 5,
 10224: 1,
 10227: 6,
 10228: 46,
 10229: 4,
 10230: 54,
 10232: 4,
 10236: 15,
 10239: 1,
 10244: 27,
 10249: 3,
 10250: 36,
 10253: 1,
 10255: 61,
 10256: 4,
 10262: 219,
 10263: 3,
 10264: 36,
 10267: 22,
 10275: 1,
 10278: 5,
 10282: 1,
 10285: 15,
 10286: 27,
 10288: 1,
 10289: 1,
 10291: 1,
 10294: 1,
 10295: 1,
 10296: 25,
 10305: 2,
 10306: 3,
 10307: 38,
 10309: 9,
 10310: 5,
 10311: 232,
 10312: 28,
 10313: 2,
 10315: 1,
 10316: 15,
 10317: 2,
 10319: 128,
 10326: 2,
 10332: 3,
 10340: 1,
 10343: 1,
 10346: 1,
 10347: 54,
 10349: 11,
 10350: 129,
 10351: 1,
 10352: 15,
 10357: 1,
 10359: 1,
 10360: 8,
 10362: 4,
 10365: 4,
 10366: 23,
 10373: 30,
 10378: 1,
 10379: 3,
 10385: 18,
 10394: 1,
 10396: 4,
 10397: 7,
 10400: 3,
 10401: 17,
 10407: 8,
 10411: 1,
 10415: 8,
 10425: 3,
 10437: 22,
 10440: 5,
 10442: 82,
 10443: 5,
 10446: 1,
 10447: 58,
 10451: 1,
 10454: 20,
 10457: 1,
 10458: 1,
 10462: 123,
 10463: 31,
 10471: 1,
 10473: 200,
 10474: 4,
 10478: 5,
 10479: 28,
 10482: 9,
 10483: 16,
 10501: 6,
 10502: 5,
 10506: 6,
 10507: 13,
 10510: 1,
 10511: 1,
 10515: 2,
 10520: 1,
 10522: 5,
 10527: 8,
 10532: 3,
 10537: 21,
 10542: 4,
 10545: 7,
 10546: 4,
 10547: 3,
 10552: 1,
 10555: 1,
 10561: 16,
 10564: 1,
 10565: 4,
 10566: 1,
 10568: 42,
 10569: 187,
 10574: 47,
 10575: 7,
 10577: 107,
 10578: 1,
 10579: 3,
 10580: 37,
 10581: 3,
 10589: 5,
 10595: 20,
 10601: 3,
 10602: 1,
 10608: 1,
 10613: 103,
 10617: 3,
 10618: 3,
 10626: 2,
 10629: 1,
 10630: 8,
 10636: 1,
 10642: 6,
 10643: 1,
 10647: 256,
 10653: 2,
 10655: 1,
 10663: 4,
 10667: 62,
 10670: 5,
 10671: 2,
 10675: 2,
 10680: 1,
 10682: 52,
 10683: 1,
 10686: 95,
 10689: 40,
 10690: 1,
 10691: 4,
 10693: 5,
 10694: 14,
 10699: 4,
 10702: 4,
 10707: 4,
 10708: 2,
 10712: 10,
 10718: 4,
 10728: 4,
 10736: 346,
 10746: 18,
 10753: 4,
 10754: 1,
 10757: 254,
 10762: 2,
 10772: 2,
 10773: 2,
 10774: 5,
 10776: 17,
 10778: 354,
 10782: 2,
 10786: 4,
 10788: 3,
 10789: 26,
 10791: 5,
 10793: 3,
 10799: 155,
 10800: 6,
 10803: 1,
 10811: 6,
 10820: 3,
 10821: 17,
 10822: 7,
 10830: 8,
 10831: 4,
 10832: 1,
 10836: 7,
 10841: 5,
 10851: 2,
 10853: 1,
 10854: 6,
 10855: 1,
 10876: 5,
 10878: 4,
 10890: 11,
 10897: 39,
 10901: 6,
 10904: 110,
 10906: 1,
 10907: 3,
 10908: 2,
 10912: 21,
 10914: 22,
 10918: 1,
 10922: 5,
 10927: 5,
 10928: 3,
 10933: 9,
 10943: 2,
 10947: 80,
 10948: 22,
 10949: 24,
 10953: 34,
 10957: 197,
 10961: 9,
 10962: 1,
 10963: 4,
 10970: 12,
 10973: 2,
 10975: 8,
 10977: 1,
 10980: 5,
 10981: 2,
 10983: 20,
 10985: 1,
 10986: 1,
 10990: 6,
 10992: 60,
 10995: 32,
 10999: 2,
 11004: 2,
 11007: 1,
 11010: 2,
 11011: 1,
 11013: 1,
 11014: 5,
 11016: 1,
 11019: 131,
 11021: 3,
 11024: 1,
 11027: 104,
 11042: 6,
 11043: 23,
 11044: 1,
 11049: 15,
 11053: 1,
 11056: 132,
 11060: 39,
 11061: 1,
 11069: 7,
 11070: 1,
 11072: 263,
 11073: 2,
 11076: 14,
 11078: 2,
 11084: 5,
 11089: 56,
 11091: 1,
 11097: 1,
 11105: 5,
 11109: 20,
 11112: 72,
 11113: 2,
 11117: 13,
 11120: 12,
 11129: 42,
 11132: 1,
 11134: 1,
 11136: 2,
 11145: 4,
 11146: 2,
 11159: 184,
 11160: 10,
 11172: 16,
 11180: 6,
 11181: 1,
 11186: 8,
 11187: 6,
 11190: 5,
 11191: 14,
 11198: 7,
 11206: 150,
 11208: 9,
 11209: 29,
 11210: 2,
 11212: 6,
 11214: 5,
 11220: 27,
 11221: 4,
 11225: 6,
 11234: 8,
 11236: 37,
 11238: 24,
 11239: 6,
 11242: 5,
 11246: 48,
 11251: 11,
 11258: 10,
 11271: 8,
 11280: 4,
 11281: 32,
 11283: 12,
 11288: 7,
 11289: 7,
 11290: 18,
 11291: 82,
 11294: 96,
 11299: 15,
 11302: 14,
 11303: 6,
 11307: 12,
 11310: 1,
 11318: 7,
 11321: 1,
 11322: 2,
 11325: 8,
 11326: 14,
 11336: 7,
 11337: 2,
 11340: 6,
 11341: 1,
 11352: 21,
 11353: 3,
 11355: 2,
 11356: 79,
 11359: 1,
 11362: 36,
 11364: 1,
 11369: 3,
 11372: 34,
 11373: 2,
 11384: 3,
 11385: 2,
 11387: 28,
 11397: 1,
 11399: 9,
 11403: 7,
 11405: 2,
 11407: 3,
 11408: 1,
 11411: 4,
 11413: 101,
 11414: 6,
 11415: 31,
 11418: 2,
 11420: 1,
 11421: 12,
 11423: 1,
 11426: 7,
 11428: 1,
 11429: 2,
 11431: 2,
 11432: 10,
 11437: 31,
 11438: 16,
 11440: 1,
 11443: 3,
 11444: 27,
 11445: 22,
 11448: 1,
 11450: 3,
 11455: 80,
 11461: 23,
 11462: 40,
 11463: 24,
 11464: 101,
 11466: 5,
 11467: 133,
 11469: 58,
 11474: 54,
 11475: 2,
 11476: 15,
 11478: 62,
 11480: 147,
 11488: 1,
 11491: 239,
 11497: 6,
 11498: 3,
 11509: 5,
 11510: 248,
 11513: 66,
 11518: 73,
 11519: 3,
 11520: 45,
 11524: 162,
 11525: 36,
 11526: 10,
 11530: 1,
 11535: 11,
 11536: 3,
 11539: 128,
 11543: 3,
 11547: 265,
 11551: 5,
 11553: 2,
 11554: 27,
 11558: 15,
 11559: 25,
 11560: 321,
 11562: 18,
 11563: 216,
 11568: 98,
 11572: 1,
 11575: 78,
 11579: 19,
 11580: 70,
 11584: 120,
 11585: 2,
 11587: 238,
 11588: 165,
 11593: 315,
 11596: 16,
 11599: 3,
 11602: 56,
 11603: 11,
 11604: 13,
 11608: 274,
 11610: 13,
 11613: 125,
 11614: 24,
 11615: 2,
 11617: 4,
 11620: 1,
 11624: 31,
 11625: 144,
 11627: 1,
 11630: 6,
 11634: 5,
 11635: 116,
 11636: 41,
 11637: 70,
 11641: 4,
 11642: 219,
 11643: 6,
 11646: 72,
 11647: 16,
 11648: 2,
 11652: 34,
 11655: 9,
 11664: 51,
 11666: 207,
 11670: 192,
 11672: 12,
 11673: 48,
 11677: 1,
 11678: 7,
 11692: 301,
 11694: 53,
 11695: 83,
 11696: 106,
 11699: 13,
 11703: 179,
 11717: 398,
 11724: 1,
 11729: 30,
 11730: 39,
 11732: 14,
 11734: 57,
 11735: 174,
 11738: 20,
 11740: 4,
 11743: 2,
 11744: 6,
 11745: 70,
 11747: 3,
 11748: 12,
 11754: 2,
 11756: 4,
 11757: 3,
 11758: 300,
 11759: 3,
 11763: 83,
 11768: 7,
 11769: 5,
 11775: 23,
 11780: 1,
 11787: 2,
 11790: 7,
 11796: 194,
 11800: 7,
 11802: 4,
 11805: 9,
 11808: 6,
 11820: 15,
 11823: 86,
 11824: 12,
 11827: 1,
 11828: 42,
 11832: 12,
 11838: 21,
 11841: 110,
 11844: 1,
 11852: 4,
 11854: 64,
 11862: 103,
 11865: 154,
 11867: 7,
 11872: 86,
 11882: 8,
 11884: 17,
 11885: 14,
 11886: 9,
 11891: 79,
 11892: 94,
 11893: 1,
 11895: 20,
 11896: 84,
 11898: 43,
 11901: 14,
 11904: 2,
 11905: 3,
 11909: 33,
 11912: 64,
 11914: 73,
 11916: 14,
 11917: 17,
 11919: 2,
 11920: 108,
 11921: 207,
 11922: 3,
 11925: 5,
 11927: 53,
 11933: 15,
 11936: 62,
 11938: 8,
 11939: 11,
 11940: 2,
 11941: 4,
 11947: 7,
 11948: 107,
 11950: 123,
 11952: 39,
 11953: 2,
 11955: 21,
 11956: 45,
 11957: 38,
 11964: 1,
 11965: 60,
 11966: 6,
 11969: 33,
 11974: 83,
 11975: 3,
 11977: 5,
 11979: 1,
 11980: 2,
 11981: 11,
 11984: 3,
 11985: 2,
 11986: 15,
 11987: 219,
 11988: 3,
 11989: 88,
 11991: 1,
 11997: 262,
 11998: 249,
 12000: 3,
 12002: 1,
 12004: 14,
 12005: 6,
 12009: 200,
 12010: 148,
 12011: 11,
 12012: 36,
 12015: 8,
 12018: 76,
 12019: 74,
 12022: 12,
 12023: 4,
 12024: 2,
 12033: 21,
 12035: 6,
 12036: 13,
 12039: 3,
 12040: 12,
 12042: 19,
 12043: 3,
 12048: 297,
 12051: 37,
 12052: 16,
 12054: 15,
 12055: 268,
 12056: 10,
 12058: 14,
 12066: 9,
 12067: 3,
 12070: 3,
 12071: 25,
 12075: 3,
 12077: 42,
 12081: 179,
 12083: 2,
 12085: 59,
 12087: 294,
 12088: 202,
 12092: 2,
 12097: 85,
 12102: 2,
 12107: 3,
 12110: 123,
 12112: 18,
 12113: 16,
 12114: 1,
 12117: 79,
 12126: 3,
 12131: 43,
 12132: 339,
 12133: 52,
 12134: 28,
 12135: 48,
 12144: 1,
 12145: 6,
 12149: 2,
 12151: 3,
 12158: 11,
 12159: 9,
 12161: 4,
 12166: 3,
 12169: 2,
 12174: 9,
 12175: 17,
 12177: 3,
 12187: 1,
 12189: 127,
 12191: 131,
 12196: 55,
 12198: 84,
 12202: 5,
 12203: 4,
 12205: 66,
 12206: 21,
 12207: 9,
 12209: 34,
 12210: 19,
 12216: 48,
 12217: 8,
 12218: 117,
 12219: 19,
 12223: 60,
 12224: 34,
 12225: 20,
 12227: 38,
 12228: 38,
 12231: 66,
 12239: 54,
 12240: 76,
 12241: 13,
 12242: 3,
 12244: 106,
 12249: 139,
 12250: 106,
 12254: 122,
 12255: 51,
 12258: 4,
 12259: 18,
 12260: 54,
 12264: 20,
 12268: 112,
 12269: 35,
 12271: 15,
 12272: 170,
 12273: 45,
 12275: 10,
 12277: 73,
 12279: 64,
 12280: 73,
 12283: 29,
 12285: 67,
 12298: 37,
 12299: 5,
 12300: 26,
 12301: 7,
 12302: 26,
 12303: 3,
 12304: 2,
 ...}

### 2. 가게리스트 불러오기 - df_storelist

In [38]:
df_storelist = pd.read_csv('./train/data/storelist.csv', encoding='utf-8')
df_storelist.drop('Unnamed: 0', axis=1, inplace=True)
df_storelist.head(2)

,storeid,Title,storename,Region,Sigungu,search_area,Category1,Category2,Blog,Blog1000,post_num
0,13984,화정떡갈비,화정떡갈비,광주,광산구,광산,한식,떡갈비,4,4,2
1,13985,새송정,새송정,광주,광산구,광산,한식,"떡갈비,비빔밥",2,2,1

In [39]:
df_storelist.shape

(65874, 11)

In [42]:
df_storelist['reviews_num'] = df_storelist.storeid.map(storeid_review_count)

In [44]:
df_storelist_w_review = df_storelist[df_storelist.reviews_num.notna()]

In [45]:
df_storelist_w_review.shape

(22782, 12)

In [47]:
df_storelist_w_review.reviews_num = df_storelist_w_review.reviews_num.astype(int)
df_storelist_w_review.head(3)

/anaconda3/envs/text_anal/lib/python3.6/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,storeid,Title,storename,Region,Sigungu,search_area,Category1,Category2,Blog,Blog1000,post_num,reviews_num
8,13992,빛고을떡갈비,빛고을떡갈비,광주,광산구,광산,한식,"떡갈비,비빔밥",24,24,14,2
11,13995,착한소장수,착한소장수,광주,동구,광주,NaN,"갈비살, 안창살",4155,1000,600,7
16,14000,고흥나루터,고흥나루터,광주,동구,광주,NaN,장어구이,116,116,69,3

In [49]:
df_storelist_w_review.set_index('storeid', inplace=True)
df_storelist_w_review.head(2)

,Title,storename,Region,Sigungu,search_area,Category1,Category2,Blog,Blog1000,post_num,reviews_num
storeid,,,,,,,,,,,
13992,빛고을떡갈비,빛고을떡갈비,광주,광산구,광산,한식,"떡갈비,비빔밥",24,24,14,2
13995,착한소장수,착한소장수,광주,동구,광주,NaN,"갈비살, 안창살",4155,1000,600,7

In [51]:
df_storelist_w_review.sort_values('reviews_num', ascending=False)

,Title,storename,Region,Sigungu,search_area,Category1,Category2,Blog,Blog1000,post_num,reviews_num
storeid,,,,,,,,,,,
135049,킹크랩가든궁,킹크랩가든궁,경기도,평택시,평택,일식,NaN,1227,1000,600,576
9765,더참맛수육국밥&보쌈노량진점,더참맛수육국밥&보쌈노량진점,서울,동작구,동작,한식,NaN,2081,1000,600,513
149535,포크포크 매콤돈가스&칡불물냉면,포크포크매콤돈가스&칡불물냉면,경상북도,경산시,경산,양식,NaN,6087,1000,600,501
180918,피자나라치킨공주,피자나라치킨공주,인천,서구,인천,분식,NaN,1738,1000,600,494
119951,순흥골돼지갈비,순흥골돼지갈비,경기도,안양시,안양,한식,NaN,2032,1000,600,493
...,...,...,...,...,...,...,...,...,...,...,...
165022,경북집,경북집,충청북도,청주시,청주,한식,NaN,15,15,9,1
145725,룽고,룽고,부산,기장군,기장,한식,NaN,16,16,9,1
123954,티하우스,티하우스,경기도,여주시,여주,한식,NaN,17,17,10,1
131902,르시랑스,르시랑스,경기도,파주시,파주,경양식,NaN,18,18,10,1
112277,인경참치,인경참치,경기도,수원시,수원,일식,NaN,17,17,10,1

In [53]:
df_storelist_w_review.reviews_num.describe()

count    22782.000000
mean        34.696910
std         65.375717
min          1.000000
25%          3.000000
50%          8.000000
75%         29.000000
max        576.000000
Name: reviews_num, dtype: float64

In [ ]:
df_storelist_w_review.to_csv('./train/data/가게리스트_reviews.csv', encoding='ut')

In [52]:
df_storelist_w_review[df_storelist_w_review.Category2.notna()]

,Title,storename,Region,Sigungu,search_area,Category1,Category2,Blog,Blog1000,post_num,reviews_num
storeid,,,,,,,,,,,
13992,빛고을떡갈비,빛고을떡갈비,광주,광산구,광산,한식,"떡갈비,비빔밥",24,24,14,2
13995,착한소장수,착한소장수,광주,동구,광주,NaN,"갈비살, 안창살",4155,1000,600,7
14000,고흥나루터,고흥나루터,광주,동구,광주,NaN,장어구이,116,116,69,3
14001,고흥장어나라,고흥장어나라,광주,동구,광주,NaN,장어구이,152,152,91,1
14002,관가,관가,광주,동구,광주,NaN,통오리구이,700,700,420,4
...,...,...,...,...,...,...,...,...,...,...,...
95443,화정한우곱창,화정한우곱창,경기도,고양시,고양,한식,한식,79,79,47,3
95444,화정함흥냉면,화정함흥냉면,경기도,고양시,고양,한식,한식,63,63,37,13
95445,화정해물찜,화정해물찜,경기도,고양시,고양,한식,한식,133,133,79,20
88503,화진포막국수,화진포막국수,강원도,고성군,고성,일반음식점,한식,17,17,10,1
91480,화천커피&야식,화천커피&야식,강원도,화천군,화천,일반음식점,기타,12359,1000,600,146

In [59]:
df_storelist_w_review.Category2.unique()

array(['떡갈비,비빔밥', '갈비살, 안창살', '장어구이', '통오리구이', '복탕', '비빔밥', '돼지갈비', '짜장면',
       '콩나물국밥', '순두부찌개', '민물장어구이', nan, '김치찌개', '장어탕', '삼겹살', '자장면', '커트',
       '민어', '생선찜', '생선회', '아구탕', '생선회,찜', '전복', '활어회', '갈매기살', '꽃게탕',
       '꽃게, 돌게정식', '묵은지감자탕', '생태탕', '오리불고기', '아귀찜,탕', '삼계탕', '생선구이',
       '함박스테이크', '일식', '게장', '갈비탕', '차돌박이갓삼합', '꽃게게장정식', '머리국밥,머리수육',
       '꼬막', '국밥', '염소고기', '백반', '회', '도토리요리', '한정식', '낙지요리', '샤브샤브',
       '닭요리', '대구찜', '떡갈비', '소고기', '산낙지비빔밥', '장어요리', '양식', '쌈밥', '냉면',
       '낙지', '곱창', '영양솥밥', '감자탕', '장어', '복탕,복찜,아구찜', '장어구이,장어탕',
       '한정식,매생이국', '홍어정식,삼합,보리애국', '한정식,코스요리,굴비정식', '흑염소탕, 전골', '떡갈비  정식',
       '쌈밥정식', '죽순나물밥 정식', '대통밥', '보쌈, 부대찌개', '능이닭곰탕', '매운탕',
       '한우구이, 삼겹살구이', '대구탕, 장어구이', '쏘가리탕', '활어회, 매운탕, 된장물회',
       '돌솥밥, 오리로스구이, 오리탕', '활어회, 바지락회, 키조개구이', '등심,꽃살구이,갈비탕,육개장', '한식뷔페',
       '생선회,매운탕', '떡갈비정식', '토종닭', '쌈밥/오삼불고기/오리.삼겹살.닭구이',
       '돼지국밥/뼈해장국/삼겹살수육', '삼겹살/오리구이.탕/돼지갈비.찜/백반',
       '한정식/영양돌솥밥/고등어쌈밥정식/약선육낙전골/육낙', '묵은지찜', '꽃게무침', '설렁탕',
       '생고기,곰탕,쇠고기구이,샤브샤브,비빔밥', '굴비한정식', '백반, 전복죽', '스테이크', '파스타, 돈까스',
       '오리전골', '바지락 칼국수', '돼지갈비구이', '중화요리', '순두부백반', '한우떡갈비', '묵은지닭매운탕',
       '한우생갈비', '불고기 산채정식', '한우구이', '흑염소탕', '순대국밥', '볼테기탕', '갈비. 삼겹살, 냉면',
       '생선회,해물탕', '꽃게장', '냉면, 콩나물국밥', '바지락죽', '오리누룽지백숙', '한정식,꽃게장',
       '민물매운탕', '파스타 등', '다슬기탕, 국밥', '찌게', '한식', '경양식', '분식', '식육(숯불구이)',
       '호프/통닭', '기타', '인도, 태국', '두루치기정식,육회비빔밥', '전골류', '소고기구이, 갈비탕',
       '생고기', '갈비', '백숙', '해장국', '숯불갈비', '칼국수', '자연산회', '초당순두부, 황태구이',
       '궁보계정, 북경식탕수육', '소갈비', '복매운탕', '회집', '해산물', '소갈비,회일식', '뷔페',
       '김밥(도시락)', '오리고기', '참숯갈비', '바다회', '현미채식', '뷔페식', '곤드레밥', '밀면',
       '회무침', '생삼겹', '붕어찜', '패스트푸드', '돼지갈비,돌솥밥', '외국음식전문점(인도,태국등)',
       '쏘가리매운탕, 메기매운탕', '돈까스', '오리모듬세트. 생주물럭', '칡냉면', '올갱이해장국',
       '한우구이,한우불고기', '탕류(보신용)', '한우불고기,한우등심', '동태찜,해물찜',
       '삼겹살(8,000원), 김치찌개(5,000원)', '정종/대포집/소주방', '생오리,생삼겹',
       '삼겹살, 돼지갈비, 소갈비살', '남도요리', '닭백숙', '갈치요리', '통닭(치킨)', '초밥',
       '소갈비, 돼지갈비', '돼지갈비, 삼겹살', '양곱창', '중국식', '회초밥', '회정식', '굴밥,굴요리',
       '쭈꾸미 낙지', '복어탕, 복지리, 복불고기', '더덕정식', '꼬리곰탕', '모듬똥집', '갈비살',
       '한정식, 한우육개장', '갈치조림. 고등어조림', '초밥, 스시', '까페', '한우등심, 돼지고기 등',
       '구이(쇠고기/삼겹살/돼지갈비)', '한정식, 제주은갈치구이', '베이징덕, 딤섬', '동태탕', '흑돼지구이',
       '두부', '장어탕,전복탕,장어구이', '정식', '국수', '모듬회등', '곰탕', '흑돼지구이. 김치찌개',
       '생고기,육회', '해물뚝배기', '민어탕', '돼지국밥', '활어회, 매운탕', '순대국', '갈비정식', '활어',
       '버섯요리', '대구탕', '아구찜', '멸치회, 쌈밥정식', '고기류', '전통찻집', '한식코스', '불고기',
       '대방어회. 갈치조림', '오리양념불고기/오리탕/오리생소금구이', '곱창구이', '짜장', '한우고기',
       '해장국,부대찌개,뼈마시전골', '뼈다귀해장국, 등뼈찜', '찌개', '짜장. 짬뽕', '묵밥, 묵무침, 묵빈대떡',
       '갈비살등', '해물전골', '밀냉면', '아구찜,오리고기', '한우특수부위, 갈비탕', '흑돼지구이. 갈비탕',
       '냉면집', '흑돼지구이. 해물찜', '숙성 한우구이', '곰탕,설렁탕', '소갈비살,산채비빔밥', '등심',
       '오리훈제/소갈비살', '청국장', '복요리.시래기갈치고등어조림', '마늘약선정식', '돼지불고기',
       '돼지막창, 양념돼지갈비, 삼겹살', '돼지고기정식', '고기뷔페', '생고기, 삼겹살', '황태구이백반',
       '비빔국수/칼국수', '돼지갈비, 정식', '정식, 갈비, 삼겹살', '송정스페셜, 참치스페셜',
       '수구레국밥,소머리국밥', '게국지, 간장게장, 꽃게탕', '전복뚝배기. 조림', '쌈제육정식', '감성주점',
       '흑돼지구이. 동치미국수', '피라미드 동파육, 매운갈비누룽지, 유린기', '소고기 코스요리', '활어회.매운탕',
       '불고기,백숙', '아구해물찜', '생선초밥', '갈치조림', '순대국,돼지갈비', '자연산버섯찌개',
       '활어회. 매운탕', '추어탕, 닭도리탕', '샐러드,피자,파스타,커피', '곱창 등', '구이류, 버섯전골',
       '소갈비, 냉면', '고기국수. 비빔국수', '인삼정식+삼계탕', '생선회,초밥', '훈제오리', '해물탕',
       '우렁쌈밥정식', '찜닭,치킨,똥집', '순두부찌게', '미역국', '전복죽', '라이브카페', '보말국. 보말칼국수',
       '한우 한돈', '수제비 / 국수 / 국시기', '약채밥상', '칼국수, 수육', '생선회/매운탕', '굴비정식',
       '갈비류', '고기', '소곱창', '피자', '곱창전골', '구이류,국밥', '석쇠구이,국밥', '조개및삼겹살구이',
       '모듬회, 매운탕', '쌈정식, 코다리정식, 약채정식', '추어탕,장어탕', '닭한마리', '짜글이찌개',
       '소,돼지갈비', '오겹살, 항정살', '불고기, 양대창구이', '순대전골, 모듬순대', '참치회', '전복코스요리',
       '정식코스', '울금떡갈비정식, 버섯불고기정식', '능이오리백숙, 자연산버섯찌개, 김치찌개, 된장찌개',
       '터키음식, 케밥', '아나고탕, 닭볶음탕', '샤브샤브,월남쌈', '인도,태국', '짬뽕', '도루묵,가자미찌개',
       '청돼지, 돌돼지, 토마토 청국장', '돈까스, 초계국수', '돌솥밥', '굴요리전문', '화덕피자, 수제파스타',
       '냉면,불고기,어복쟁반', '돼지고기', '파스타', '참복국, 복매운탕', '소, 돼지갈비', '민물장어/간장게장',
       '한우불고기, 꽃등심', '팔도면요리', '충무김밥', '능이백숙코스', '쭈꾸미정식', '오리훈제', '해산물한정식',
       '모듬초밥', '돼지고기, 주꾸미, 냉면', '초밥/대구탕/코스요리', '모듬회', '고등어조림', '참치/참가자미회',
       '추어탕', '촌닭,오리백숙,송이백숙', '돼지갈비,소갈비'], dtype=object)

In [61]:
ss = '오리구이'
re.search('오리', ss)

In [55]:
import re
def detect_keyword(col, keyword):
    detect = 0
    if re.search(col, keyword):
        detect = keyword
    return detect

In [ ]:
#place_main_ct > div > div > div.sc_box.default > div.ct_box_area > div.biz_name_area > span